In [9]:
from pandas import read_csv

s = read_csv('../csv/Сводка.csv', index_col='ICAO')
m = read_csv('../csv/АНУА.csv', index_col=['АН'])
a = read_csv('../csv/Агломерация.csv', index_col=['ICAO'])

# КАПН - расчётный коэффициент авиационной подвижности населения
КАПН = 4.2

      Агломерация
ICAO
UECT         8984
UERR        47325
USDA        33750
UOII         7018
USRO       142639
...           ...
UUBA      2040196
UWKJ      1463447
URFB      1989996
ULLK       569840
ZFC7        64441

[200 rows x 1 columns]